[Unit]
Description=Renew Let's Encrypt certificates for ZeroGEX API
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/certbot renew --cert-name api.zerogex.io --deploy-hook "/usr/local/bin/zerogex-certbot-deploy-hook.sh" --quiet
